@media screen and (min-width: 800px) {
  .home aside {
    padding-left: 70px;
  }
  .about :is(article, .skills h1) {
    padding-left: 100px;
  }
  nav ul li {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
@media screen and (min-width: 640px) {
  nav {
    ul li:hover::before {
      border: 1px solid var(--secondary-color);
      width: 100%;
    }
  }
}
@media screen and (max-width: 800px) {
  .app {
    display: flex;
  }
  nav {
    width: 80px;
    height: 100vh;
    flex-direction: column;
    padding-block: 10px;
    ul {
      flex-direction: column;
      margin: auto;
      li {
        margin: 20px 0px;
        p {
          display: none;
        }
      }
    }
  }
  .home {
    height: 100vh;
    flex-direction: column;
    aside {
      margin: 80px auto 0;
      text-align: center;
      width: 100%;
    }
  }
  .project h1 {
    padding-left: 30px;
  }
}
@media screen and (max-width: 640px) {
  .app {
    position: relative;
  }
  nav {
    width: 0;
    height: 100vh;
    left: 0;
    transition: 0.5s;
    h1 {
      cursor: pointer;
      transition: 0.5s;
      margin-top: 40px;
      transform: translateX(100%);
    }
    ul {
      display: none !important;
    }
    &.active {
      width: 80px;
      h1 {
        transform: none;
      }
      ul {
        display: flex !important;
      }
    }
  }
  .home {
    h1 {
      font-size: 35px !important;
    }
  }
  .about {
    article {
      width: 80%;
      margin-inline: auto;
      p {
        width: 100%;
      }
    }
    .skills {
      padding-inline: 30px;
    }
  }
  .SkillsCard {
    --size: 120px;
    svg {
      font-size: 70px;
    }
  }
  .contact {
    padding: 100px 20px 0px;
  }
}
@media screen and (max-width: 800px) and (min-width: 641px) {
  .page {
    padding-left: 100px;
  }
  s main {
    width: calc(100% - 80px);
  }
}
