/* vars */
:root {
  --bg-color: #1f1f1f;
  --primary-color: #945f3e;
  --secondary-color: #ede0d4;
}
/* init code */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--secondary-color);
  border: none;
  outline: none;
}
img {
  background-color: transparent !important;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
}
/* init all pages */
.page {
  min-height: 100vh;
  width: 100vw;
  padding-top: 10vh;
}
/* framework */
.flex-ac {
  display: flex;
  align-items: center;
}
/* navbar */
nav {
  height: 10vh;
  width: 100%;
  padding-inline: 3%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--primary-color);
  ul {
    margin-left: auto;
    z-index: 1;
    li {
      list-style-type: none;
      margin-right: 20px;
      cursor: pointer;
      font-size: 18px;
      text-transform: capitalize;
      letter-spacing: 1px;
      position: relative;
      p {
        margin-left: 5px;
      }
      &.last-child {
        margin-right: 0;
      }
      &::before {
        transition: 0.5s;
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0px;
        height: 0;
      }
      &:hover {
        &::before {
          border: 1px solid var(--secondary-color);
          width: 100%;
        }
      }
    }
  }
  button {
    font-size: 19px;
    display: none;
  }
}
/* main pages */
main {
  width: 100%;
  height: max-content;
}
.home {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  aside {
    width: 60%;
    cursor: context-menu;
    flex-direction: column;
    padding-left: 70px;
    h1 {
      font-size: 40px;
      text-transform: capitalize;
      span {
        color: var(--primary-color);
      }
    }
    .Typewriter__wrapper,
    .Typewriter__cursor {
      font-size: 40px;
      color: var(--secondary-color);
    }
    .btn-container {
      margin-top: 20px;
    }
  }
  div {
    img {
      width: 500px;
    }
  }
}
.about {
  min-height: 100vh;
  article {
    min-height: 90vh;
    padding-left: 100px;
    h1 {
      text-transform: capitalize;
      font-size: 50px;
      color: var(--primary-color);
      letter-spacing: 2px;
    }
    p {
      width: 500px;
      height: max-content;
      margin-block: 10px 20px;
      font-size: 17px;
      span {
        color: var(--primary-color);
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
  .skills {
    height: max-content;
    background-color: var(--bg-color);
    padding-block: 30px;
    h1 {
      padding-left: 100px;
      font-size: 40px;
      color: var(--primary-color);
    }
  }
}
.project {
  h1 {
    padding-left: 100px;
    font-size: 30px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
  }
}
/* com style */
.btn {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  transition: 0.3s;
  svg {
    margin-right: 10px;
  }
  &:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    svg {
      background-color: var(--bg-color);
    }
  }
}
.SkillsCard {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: solid 1px var(--secondary-color);
  justify-content: center;
  cursor: pointer;
  svg {
    font-size: 100px;
  }
  &:hover {
    transition: 0.3s;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }
}
.project-card {
  width: 300px;
  height: 460px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  margin: 20px;
  text-align: center;
  position: relative;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    h2 {
      color: var(--bg-color);
    }
  }
  h2 {
    margin-top: 10px;
    text-transform: capitalize;
  }
  section {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    .btn {
      margin: 0;
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
